.nextButton {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 4;
  height: auto;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
  z-index: 30;
}
.previousButton {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 4;
  height: auto;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;

  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
  z-index: 30;
}
.nextButton img,
.previousButton img {
  width: 30px;
  cursor: pointer;
}

.nextButton:hover,
.previousButton:hover {
  /* opacity: 0.7; */
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.btnCenter {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .nextButton {
    right: 5px;
  }
  .previousButton {
    left: 5px;
  }
}
