.project {
  padding-left: 20px;
  padding-right: 20px;
  /* max-width: 300px; */
  /* box-shadow: 0 4px 8px rgba(221, 221, 221, 0.144); */
  /* margin-bottom: 1rem; */
  /* border: 1px solid #ccc; */
}

.project h2 {
  color: #333;
}

.project h3 {
  color: #007bff;
}

.project p {
  color: #4b4b4b;
  line-height: 1.6;
}
.subHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
