.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
  padding-bottom: 20px;
  min-height: 80vh;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 2rem;
  }
}
