.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader div {
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;

  animation: sk-bounce 1.4s infinite ease-in-out both;
  opacity: 0;
}

.loader div:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0.4s;
  background-color: var(--yellow);
  border: 2px solid var(--gold);
}

.loader div:nth-child(2) {
  top: 0;
  left: 30px;
  animation-delay: 0.8s;
  background-color: var(--gold);
  border: 2px solid var(--yellow);
}

.loader div:nth-child(3) {
  top: 30px;
  left: 30px;
  animation-delay: 1.2s;
  background-color: var(--yellow);
  border: 2px solid var(--gold);
}

.loader div:nth-child(4) {
  top: 30px;
  left: 0px;
  animation-delay: 1.6s;
  background-color: var(--gold);
  border: 2px solid var(--yellow);
}

@keyframes sk-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
