.navbar {
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, var(--yellow), var(--gold));
  z-index: 6;
}

.navbar__logo a img {
  position: relative;
  right: 2px;
  top: 3px;
  width: 60px;
}

.navbar__logo a img:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.navbar__logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: var(--whiteText);
  border-radius: 50%;
  margin-right: 10px;
  /* border: 3px solid var(--yellow); */
  overflow: hidden;
}

.sideNavbar {
  display: flex;
  list-style: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 4;
  padding: 0px;
  margin: 0;
  align-items: center;
}
.nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  height: 60px;
  transition: left 0.3s ease;
  z-index: 4;
  padding: 0px;
  margin: 0;
  align-items: center;
}
.nav li {
  width: 100px;
  height: 60px;
  text-align: center;
}

.nav li a {
  text-decoration: none;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  color: var(--blackText);
  height: 60%;
  position: relative;
  top: 40%;
  font-weight: bold;
  font-size: 15px;
}
.nav li a:hover {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.sideNavbar_head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: linear-gradient(45deg, var(--gold), var(--yellow));
  border-radius: 2px;
}

.sideNavbar.show {
  left: 0;
}

.sideNavbar li {
  border-bottom: 1px solid var(--yellow);
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.sideNavbar li a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--whiteText);
  display: block;
  width: 100%;
  border-radius: 20px;
}
.sideNavbar li:hover {
  background-color: #f1f1f1;
}

.mobileMenuIcon {
  display: block;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.closeBtn {
  background-color: transparent;
  border: 0px solid;
  outline: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.closeBtn:hover,
.mobileMenuIcon:hover {
  color: #666666;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: left 0.3s ease;
}

.show {
  left: 0;
}
@media (min-width: 600px) {
  .active {
    border-bottom: 3px solid var(--blackText);
    border-image-slice: 1;

    transition: all 0.2s ease;
  }
}

@media (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    opacity: 1;
  }

  .sideNavbar {
    width: 80%;
    left: -100%;
  }
  .sideNavbar li a {
    color: var(--blackText);
  }

  .active {
    background-color: #ffd70087;
  }
}
