/* AboutSectionItem.module.css */
.section {
  margin: 30px;
  padding: 1rem;
  border-bottom: 1px solid var(--amethyst);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}
.section:last-child {
  border-bottom: none;
}

.section h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 15px;
}

.section a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
  display: block;
  margin: 10px 0;
}

.section a:hover {
  color: #0056b3;
}

.section p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section ul {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style-image: url("../../assets/icons/star16.png");
}

.section li {
  margin-bottom: 8px;
}

.details {
  display: flex;
  align-items: flex-start;
  /* width: 100%; */
}

.logo {
  opacity: 1;
  margin: 10px;
  border-radius: 5px;
  width: 56px;
  border: 1px solid #ccc;
}

.subHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.subHeading a {
  color: #007bff; /* Link color */
  text-decoration: none;
  transition: color 0.3s;
}

.subHeading a:hover {
  color: #0056b3; /* Hover color */
}

@media (max-width: 600px) {
  .subHeading {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .subHeading p {
    margin: 0;
  }
  .section {
    /* padding: 1rem; */
    margin: 0px;
    margin-bottom: 10px;
  }
  .details {
    align-items: center;
    flex-direction: column;
  }
  .section h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
}
