.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
  padding-bottom: 20px;
  min-height: 80vh;
}

/* .container h2 {
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid var(--amethyst);
  margin: 0 0 1.5rem;
} */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
