/* projects.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 0.9;
  z-index: 4;
}

.container h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid;
  margin-bottom: 1.5rem;
}

.projects {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* gap: 1rem; */
  flex-direction: column;
}
