.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 2rem;
  z-index: 4;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.details {
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin: 2rem;
  gap: 1rem;
  list-style-image: url("../assets/icons/star16.png");
}

.description li {
  margin: 0;
  font-size: 16px;
  color: #333;
  vertical-align: middle; /* Add this line */
}

.modalButtons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.modalButtons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.modalButtons button:hover {
  background-color: #6e34db;
}

@media (max-width: 650px) {
  .container {
    padding: 0;
  }
  .description {
    margin: 1.5rem 0;
  }
}
