@import "../assets/color.css";

.root {
  width: auto;
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 90vh;
}

@media (max-width: 1000px) {
  .main {
    margin-bottom: 0;
    margin-top: 0px;
    min-height: 0vh;
  }
}
