@import "../assets/color.css";

.root {
  width: auto;
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .main {
    margin-bottom: 1rem;
    margin-top: 0px;
    /* min-height: 0vh; */
  }
  .root {
    overflow: hidden;
  }
}
