.title {
  background-color: white;
  border-left: 10px solid var(--gold);
  border-right: 10px solid var(--gold);
  text-align: center;
  box-shadow: inset 1px -1px 10px rgba(128, 128, 128, 0.541);
  padding: 0.5rem;
  animation: expand 0.5s ease-in-out;
  margin: 0;
  font-size: 2rem;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  right: 1rem;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  width: fit-content;
}

.links a .icons {
  width: 25px;
  height: 25px;
}
.links a:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .title {
    text-align: start;
    font-size: 1.5rem;
  }
  .links a .icons {
    width: 20px;
    height: 20px;
  }
}
