/* .form {
  margin: 0 1rem;
}

.contactMe {
  background-color: cornsilk;
  display: flex;
  align-items: center;
}

.form img {
  width: 50%;
  object-fit: cover;
}

.Form {

  max-width: 500px;

  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary);
  border-radius: 5px;
}

.invalid {
  background: transparent;
  font-size: 1rem;
  border: 2px solid var(--primary);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--darkInvalidColor);
}

.line {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.description {
  background: white;
  font-size: 1rem;
  max-width: 100%;
  width: calc(100% - (22px));
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 5px;
  height: 100px;
}

.descriptionInvalid {
  border: 1px solid var(--darkInvalidColor);
}

.description:focus-visible {
  background: white;

  font-size: 1rem;
  border: 1px solid var(--primary);
  max-width: 100%;
  width: calc(100% - (22px));
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  outline: none;
}

.submitBtn {
  background-color: var(--primary);
  width: 50%;
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 1.5rem;
} */

/* .contactBoxes {
  max-width: 500px;
  padding: 1rem;
  max-height: 500px;
  height: 100%;
}

.firstRow {
  display: flex;
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  height: 100%;
}

.phone {
  background-color: blue;
  max-width: 200px;
  height: 100%;
  color: white;
  padding: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.email {
  background-color: blue;
  max-width: 200px;
  height: 100%;
  color: white;
  padding: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* @media (max-width: 769px) {
  .form img {
    display: none;
  }
  .submitBtn {
    width: auto;
  }
}

@media (max-width: 600px) {
  .form {
    margin: 1rem;
  }
  .line {
    flex-direction: column;
    gap: 0;
  }
} */
