/* colors.css */

:root {
  --primary: #3498db;
  --secondary: #2ecc71;
  --whiteText: #fff;
  --blackText: #000000;

  --amethyst: #9966cc;

  --indigo: #4b0082;
  --limeGreen: #32cd32;
  --oliveGreen: #556b2f;
  --darkGreen: #006400;
  --mediumSeaGreen: #3cb371;
  --springGreen: #00ff7f;
  --seaGreen: #2e8b57;
  --chartreuse: #7fff00;
  --mediumSpringGreen: #00fa9a;
  --paleGreen: #98fb98;
}
