.thumbnailContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  justify-content: center;
}

.thumbnail {
  border-radius: 5px;
  max-width: 900px;
  border: 1px solid #cccccc8f;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.expandContainer {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: var(--yellow);
  padding: 0.2rem;
  cursor: pointer;
}
