.imageContainer {
  margin: 25px;
  /* animation: expand 0.5s; */
}

.image {
  position: absolute;
  width: 8vw;
  height: auto;
  opacity: 0.9;
}

.c {
  top: 15%;
  left: 5%;
}

.css {
  top: 25%;
  left: 15%;
}

.git {
  top: 30%;
  left: 40%;
}

.github {
  top: 40%;
  left: 60%;
}

.html {
  top: 50%;
  left: 5%;
}

.java {
  top: 60%;
  left: 15%;
}

.typescript {
  top: 70%;
  left: 40%;
}

.javascript {
  top: 80%;
  left: 15%;
}

.mongodb {
  top: 70%;
  left: 70%;
}

.node {
  top: 10%;
  left: 50%;
}

.python {
  top: 20%;
  left: 70%;
}

.react {
  top: 30%;
  left: 5%;
}

.vscode {
  top: 40%;
  left: 15%;
}

@media (max-width: 768px) {
  .image {
    width: 15vw;
  }
  .mongodb,
  .python {
    left: 60%;
  }
}

@keyframes expand {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
